* {
  margin: 0;
  padding: 0;
  border: none;
} 

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
  text-decoration: none;
  font-weight: 200;
}

#logo {
 float: left;
 margin: 30px 30px;
 font-size: 400%;
 letter-spacing: 3px;
 text-decoration: none;
 color: #303030;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

float: right;
margin-right: 30px;
margin-top: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 
#menu li {  
  float: left;
  list-style-type: none;
  letter-spacing: 3px;
  font-size: 150%;
  margin: 5px;
}
#menu a {
  text-decoration: none;
  color: #303030;
}
#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}
.header-img {
  width: 100%;
  height: 300px;
  background: url(../images/tryffel-cover.jpg) no-repeat center center;
  clear: both;
}

#voffvoff, #from-customers, #about-voffvoff  {
   clear:both;
   padding-top: 40px;
   color: #303030;

 }

#this-is-voffvoff {
    margin-top: 50px;
    text-align: center;
 }
 #about-voffvoff {
   text-align: center;
   margin-left: 30px;
   font-weight: 400;
 }
 #topic {
   font-weight: 400;
 }
 #abouttext, #topic {
   text-align: center;
   clear: both;
   padding-top: 20px;
   margin-left: 30px;
   font-weight: 200;
 }

 #topic {
  font-weight: 400;
}

hr {
  border:0;
  border-top: 1px solid grey;
  margin-top: 30px;
}

#sup-one, #sup-two {
  text-align: center;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  font-weight: 200;
}

.supimage {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cursive {
  font-style: italic;
  margin-top: 10px; 
}

 #bcontainer {
    text-align: center;

    margin-top: 40px;
 }

 #button-index {
   background: url(../images/voffvoffmain-btnbrown.jpg);
   width: 390px;
   height: 319px;
   padding-top: 40px;
   border-radius: 50%;
   cursor: pointer;
   }

.voffvoff-customer {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 75%;
  height: 200px;
  border-radius: 2px;
  background: #ffffff;
  color: #303030;
  overflow: hidden
}

.customer {
  text-align: center;
  font-size: 20px;
  line-height: 100px;
  font-weight: 200;
}

.carousel {
  animation: carousel 30s ease-in-out infinite;
}
@keyframes carousel {
  0%, 20% {
      transform: translateY(0);
  }
  25%, 45% {
      transform: translateY(-200px)
  }
  50%, 70% {
      transform: translateY(-400px)
  }
  75%, 95% {
      transform: translateY(-600px)
  }
  100% {
      transform: translateY(-800px)
  }
}
#truffle-selection {
  text-align: center;
  padding: 20px;

}
#truffle-selection h2 {
  font-weight: 400;
}

#truffle-types p {
  font-weight: 200;
}

#truffle-types img {
  height: 300px;
  width: 300px;
  padding: 20px;

}
#form-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 #form-topic {
  text-align: center;
  clear: both;
}

.form-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

.voff-form {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 200;
} 
.voff-form input, .voff-form textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #303030;
}
textarea {
  resize: vertical;
}

#button-order {
  width: 102.5%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  transition: .3s ease background-color;
}
#button-order:hover {
  background-color: #3a3a3a;
}

.social-networks {
  text-align: center;
} 

.social-networks > li {
  display: inline;    
}
.social-networks i {
  font-size: 360%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

