* {
  margin: 0;
  padding: 0;
  border: none;
} 

 

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


h1, h2 {
  text-decoration: none;
  font-weight: 200;
}

#logo {
 float: left;
 margin: 100px 30px;
 font-size: 600%;
 letter-spacing: 3px;
 text-decoration: none;
 color: #303030;

}
#menu {
float: right;
margin-right: 30px;
margin-bottom: 30px;

} 
#menu li {
  float: left;
  list-style-type: none;
  letter-spacing: 3px;
  font-size: 150%;
  margin: 5px;
}
#menu a {
  text-decoration: none;
  color: #303030;
}
#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}
#header-pic {
float: right;
}
#header-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  
  
}

#header-cover-bg {
  background: url(../images/voffvoffmain.jpg) no-repeat center center;
  height: 100%;
  border-radius: 50%; 
 }
 #about-us{
   position: relative;
 }
 #this-is-voffvoff {
   margin-left: 30px;
 }
